* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #0a2401;
    --green: #95b038;
    --lime-green: #dbe586;
    --cheese-yellow: #e8a000;
    --yellow: #ffd643;
    --main-font: 'Raleway', sans-serif;
}

body {
    background-color: whitesmoke;
    font-family: var(--main-font);
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}


.top-bar {
    width: 100%;
    height: 8vh;
    font-weight: 300;
    background-color: var(--green);
    font-family: 'Open Sans Condensed', sans-serif;
    color: whitesmoke;
    letter-spacing: 5px;
    position: fixed;
    z-index: 2;
}

.top-bar h2 {
    padding: .5%;
    margin-left: 2%;
    font-size: 2rem;
}

main {
    margin-top: 8vh;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/src/img/bg.jpg') no-repeat fixed;
    background-position: cover;
    color: var(--dark-green);
    position: relative;
}

.filter {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 95%;
    height: 90%;
}

main h1 {
    font-size: 3rem;
    z-index: 1;
}

main h2 {
    margin: 1.5%;
    z-index: 1;
}

.search-bar {
    width: 30%;
    height: 10%;
    padding: 2%;
    font-size: 1rem;
    border: 1px solid var(--lime-green);
    background-color: white; 
    z-index: 1;
}

#search {
    width: 30%;
    height: 10%;
    margin: 1%;
    background-color: var(--green);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: var(--dark-green);
    transition: .5s;
    z-index: 1;
}

#search:hover {
    background-color: var(--lime-green);
    cursor: pointer;
}

.recipes-banner {
    width: 100vw;
    margin-top: .5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.recipe {
    width: 32%;
    margin: .5%;
    padding: 2.5% ;
    border: 1px solid var(--lime-green);
    border-radius: 2%;
    display:block;
    background-color: white;
    overflow: hidden;
}

.recipe h3 {
    text-align: center;
    justify-self: center;
    font-size: 1.5rem;
}

.recipe img {
    width: 100%;
    margin-bottom: 2%;
}

.recipe ul {
    font-weight: 600;
}

.recipe li {
    margin-left: 10%;
    font-weight: 400;
}

.recipe p {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding-top: 8%;
    display: block;
    transition: .5s;
}

/* .recipe p:hover {
    cursor: pointer;
    color: var(--dark-green);
} */

p.show-more
{
    text-decoration: none;
    color: var(--green);
    font-size: 1.3rem;
    padding-top: 8%;
    display: block;
    transition: .5s;
}
p.show-more:hover {
    cursor: pointer;
    color: var(--dark-green);
    cursor: pointer;
} 

.recipe-information
{
    max-width:100%;
    text-align: justify;
}

.descrption {
    margin: 1%;
    text-align: justify;
}

footer {
    width: 100vw;
    /* height: 20vh; */
    margin-top: 1%;
    background-color: var(--lime-green);
    text-align: center;
}

footer p {
    font-weight: 600;
    font-size: 0.8rem;
    margin: 4%;
    color: var(--dark-green);
}


@media only screen and (min-width: 641px) and (max-width: 1024px) {
    main {
        height: 100vh;
    }

    main h2 {
        margin: 5%;
    }

    .search-bar {
        width: 80%;
        height: 8%;
    }

    #search {
        width: 80%;
        height: 8%;
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .recipe {
        width: 45%;
    }
}

@media only screen and (max-width: 640px) {
    
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 2rem;
    }

    .search-bar {
        width: 80%;
        height: 8%;
        padding: 2%;
    }

    #search {
        width: 80%;
        height: 8%;
        margin-top: 5%;
        font-size: 1.5rem;
    }

    .recipes-banner {
        flex-direction: column;
    }

    .recipe {
        width: 98%;
    }
   
}



/*custom scroll-bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cheese-yellow);
}
